<section class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="card-body p-5 text-center">
            <%- include ('./partials/messages') %>
            <div class="pb-5">
                <h1>Welcome to general forum!</h1>
            </div>
            <div>
                <a href="ask-question" class="btn btn-primary btn-outline-light">Ask Question</a>
            </div>
        </div>
    </div>

</section>
<section>
    <div class="container">
        <% for (const question of questions) { %>
        <div class="d-flex justify-content-start align-items-center p-3 border topic-container" style="background-color: #FFFFFF; border-radius: 5px">
            <div class="topic-link">
                <div class="mb-2">
                    <h3><a href="questions/<%= question._id %>" class="d-flex row justify-content-start align-items-center"><%= question.title %></a></h3>
                </div>
                <div class="topic-tag">
                    <a href="#" class="p-2" title="#" rel="tag">#<%= question.tags %></a>
                    <a href="#" class="p-2" title="#" rel="tag">#<%= question.tags %></a>
                </div>
                <div class="mt-2">
                    <a href="#" class="text-dark text-decoration-none p-2 icon" style="margin-right: 10px;"><i class="fa-regular fa-comment" style="margin-right:10px"></i>add answer</a>
                    <!--                    <i class="fa-solid fa-comment"></i>-->
                    <a href="#" class="text-dark text-decoration-none p-2 icon"><i class="fa-regular fa-bookmark" style="margin-right:10px"></i>save</a>
                    <!--                    <i class="fa-solid fa-bookmark"></i>-->
                </div>
            </div>
        </div>
        <% } %>
    </div>
</section>